@import 'vars';

#timer-container {
    width: 100%;
	height: 90vh;
    overflow-y: hidden;
    display: grid;
    place-items: center;
    background-color: var(--tomato);
    
}

.container-t {
    background-color:var(--cBeige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    width: 50rem;
    border-radius:var(--bordMed);
    

}

.title {
    color:var(--tomato);
    font-size:var(--primFont) ;
    margin: var(--marg);

}


main {
    display: flex;
    background-color: var(--tomato);
    height: 88vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.options{
    font-size: 2.6rem;
    display: grid;
    
    top: 0;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    
    list-style: none;
    padding-bottom: var(--marg) ;
}

.options li{
    color: var(--gray);
    cursor: pointer;
    background-color: var(--tomato);
    border-radius: var(--bordSmall);
    margin: var(--marg) 1rem;
    padding: 0.3rem;
}

.options li:hover{
    transform: translateY(5px);
    background-color: var(--tomatoTouch);
}

#timer {
    background-color: var(--tomato);
    font-size: var(--primFont);
    margin: var(--marg);
    padding: var(--marg);
    border-radius: var(--bordSmall);
    color:var(--gray)
}
#start {
    font-size: var(--primFont);
    background-color:var(--gray);
    color: var(--tomato);
    border-radius: var(--bordMed);
    margin-top:var(--marg);
    padding: 0 var(--marg);
    cursor: pointer;
}

#start:hover{
    background-color: var(--grayTouch);
    transform: scale(1.04);
}

@media (max-width: 761px){
    .container-t{
        background:var(--tomato);
        width: auto;
    }

    #timer {
        background:var(--tomato);
        color:var(--cBeige);
    }
    .title { 
        color:var(--cBeige);
    }
    .options li{ 
        background:var(--cBeige);
        font-size: var(--sFontP);
        color:var(--tomato);
        
    }
    .options li:hover{
        background-color: rgba(245, 245, 220, 0.733);
        transform: translateY(5px);
    } 
}

